src/stone_erp_idu/ws_stone_plan_contratacion.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws.wso2.org/dataservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.wso2.org/dataservice">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"></xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"></xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtener_tramite_notarialXcorreo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cedula" nillable="true" type="xs:long"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Cedula" type="ns0:Cedula"></xs:element>
            <xs:complexType name="Cedula">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="NomUsu" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="obtener_proyecto_punto_inversion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cod_ccos" nillable="true" type="xs:short"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cod_ccos" type="ns0:cod_ccos"></xs:element>
            <xs:complexType name="cod_ccos">
                <xs:sequence>
                    <xs:element minOccurs="0" name="proyecto" nillable="true" type="xs:integer"></xs:element>
                    <xs:element minOccurs="0" name="nombre_proyecto" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="punto" nillable="true" type="xs:integer"></xs:element>
                    <xs:element minOccurs="0" name="nombre_punto" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="obtener_centro_costo">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="COD_CCOS" type="ns0:COD_CCOS"></xs:element>
            <xs:complexType name="COD_CCOS">
                <xs:sequence>
                    <xs:element minOccurs="0" name="COD_CCOS" nillable="true" type="xs:integer"></xs:element>
                    <xs:element minOccurs="0" name="NOM_CCOS" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obtener_tramite_notarialXcorreoRequest">
        <wsdl:part name="parameters" element="ns0:obtener_tramite_notarialXcorreo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtener_tramite_notarialXcorreoResponse">
        <wsdl:part name="parameters" element="ns0:Cedula"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns0:DataServiceFault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtener_proyecto_punto_inversionRequest">
        <wsdl:part name="parameters" element="ns0:obtener_proyecto_punto_inversion"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtener_proyecto_punto_inversionResponse">
        <wsdl:part name="parameters" element="ns0:cod_ccos"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtener_centro_costoRequest">
        <wsdl:part name="parameters" element="ns0:obtener_centro_costo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtener_centro_costoResponse">
        <wsdl:part name="parameters" element="ns0:COD_CCOS"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ws_stone_plan_contratacionPortType">
        <wsdl:operation name="obtener_tramite_notarialXcorreo">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:obtener_tramite_notarialXcorreoRequest" wsaw:Action="urn:obtener_tramite_notarialXcorreo"></wsdl:input>
            <wsdl:output message="ns0:obtener_tramite_notarialXcorreoResponse" wsaw:Action="urn:obtener_tramite_notarialXcorreoResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:obtener_tramite_notarialXcorreoDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtener_proyecto_punto_inversion">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:obtener_proyecto_punto_inversionRequest" wsaw:Action="urn:obtener_proyecto_punto_inversion"></wsdl:input>
            <wsdl:output message="ns0:obtener_proyecto_punto_inversionResponse" wsaw:Action="urn:obtener_proyecto_punto_inversionResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:obtener_proyecto_punto_inversionDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtener_centro_costo">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:obtener_centro_costoRequest" wsaw:Action="urn:obtener_centro_costo"></wsdl:input>
            <wsdl:output message="ns0:obtener_centro_costoResponse" wsaw:Action="urn:obtener_centro_costoResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:obtener_centro_costoDataServiceFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ws_stone_plan_contratacionSOAP11Binding" type="ns0:ws_stone_plan_contratacionPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="obtener_tramite_notarialXcorreo">
            <soap:operation soapAction="urn:obtener_tramite_notarialXcorreo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtener_proyecto_punto_inversion">
            <soap:operation soapAction="urn:obtener_proyecto_punto_inversion" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtener_centro_costo">
            <soap:operation soapAction="urn:obtener_centro_costo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ws_stone_plan_contratacionSOAP12Binding" type="ns0:ws_stone_plan_contratacionPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="obtener_tramite_notarialXcorreo">
            <soap12:operation soapAction="urn:obtener_tramite_notarialXcorreo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtener_proyecto_punto_inversion">
            <soap12:operation soapAction="urn:obtener_proyecto_punto_inversion" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtener_centro_costo">
            <soap12:operation soapAction="urn:obtener_centro_costo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ws_stone_plan_contratacionHttpBinding" type="ns0:ws_stone_plan_contratacionPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="obtener_tramite_notarialXcorreo">
            <http:operation location="obtener_tramite_notarialXcorreo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_proyecto_punto_inversion">
            <http:operation location="obtener_proyecto_punto_inversion"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_centro_costo">
            <http:operation location="obtener_centro_costo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ws_stone_plan_contratacion">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:ws_stone_plan_contratacionSOAP11Binding">
            <soap:address location="http://172.16.2.233:9763/services/ws_stone_plan_contratacion.SOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:ws_stone_plan_contratacionSOAP11Binding">
            <soap:address location="https://172.16.2.233:9443/services/ws_stone_plan_contratacion.SecureSOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:ws_stone_plan_contratacionSOAP12Binding">
            <soap12:address location="https://172.16.2.233:9443/services/ws_stone_plan_contratacion.SecureSOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:ws_stone_plan_contratacionSOAP12Binding">
            <soap12:address location="http://172.16.2.233:9763/services/ws_stone_plan_contratacion.SOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:ws_stone_plan_contratacionHttpBinding">
            <http:address location="http://172.16.2.233:9763/services/ws_stone_plan_contratacion.HTTPEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:ws_stone_plan_contratacionHttpBinding">
            <http:address location="https://172.16.2.233:9443/services/ws_stone_plan_contratacion.SecureHTTPEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>